<div class="card mx-auto text-center py-3" style="width: 30%">
   <img class="card-img-top mx-auto d-block" src="/pix/logos/nodejs03.svg" alt="Card image cap" style="
														width: 30%;
													" />
   <div class="card-body">
      <h5 class="card-title">
         Node JS
      </h5>
      <!-- <p
														class="card-text"
													>
														exemple
													</p> -->
      <!-- <a
														href="#"
														class="btn btn-primary mx-auto d-block"
														style="
															width: 100%;
														"
														>Go
														somewhere</a
													> -->
   </div>
</div>